In [1]:
import pandas as pd

Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, 
in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe like the one shown below:

In [2]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df=pd.read_html(url, header=0)[0]
df

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
283      M8Z         Etobicoke              Mimico NW
284      M8Z         Etobicoke     The Queensway West
285      M8Z         Etobicoke  Royal York South West
286      M8Z         Etobicoke         South of Bloor
287      M9Z      Not assigned           Not assigned

[288 rows x 3 columns]

Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned

In [ ]:
df.drop(df[df['Borough']=="Not assigned"].index,axis=0, inplace=True)
df

More than one neighborhood can exist in one postal code area. 
For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: 
Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.

In [4]:
# Using lambda function to join same postcodes:
df=df.groupby("Postcode").agg(lambda x:','.join(set(x)))
df

              Borough                                      Neighbourhood
Postcode
M1B       Scarborough                                      Malvern,Rouge
M1C       Scarborough               Highland Creek,Rouge Hill,Port Union
M1E       Scarborough                    Morningside,Guildwood,West Hill
M1G       Scarborough                                             Woburn
M1H       Scarborough                                          Cedarbrae
...               ...                                                ...
M9N              York                                             Weston
M9P         Etobicoke                                          Westmount
M9R         Etobicoke  Richview Gardens,Kingsview Village,St. Phillip...
M9V         Etobicoke  Mount Olive,South Steeles,Thistletown,Silverst...
M9W         Etobicoke                                          Northwest

[103 rows x 2 columns]

If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. 
So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's Park.

In [5]:
# Replacing Borough with "Not assigned" values for cases where Neighbourhood has "Not assigned":
df.loc[df['Neighbourhood']=="Not assigned",'Neighbourhood']=df.loc[df['Neighbourhood']=="Not assigned",'Borough']
df

              Borough                                      Neighbourhood
Postcode
M1B       Scarborough                                      Malvern,Rouge
M1C       Scarborough               Highland Creek,Rouge Hill,Port Union
M1E       Scarborough                    Morningside,Guildwood,West Hill
M1G       Scarborough                                             Woburn
M1H       Scarborough                                          Cedarbrae
...               ...                                                ...
M9N              York                                             Weston
M9P         Etobicoke                                          Westmount
M9R         Etobicoke  Richview Gardens,Kingsview Village,St. Phillip...
M9V         Etobicoke  Mount Olive,South Steeles,Thistletown,Silverst...
M9W         Etobicoke                                          Northwest

[103 rows x 2 columns]

In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

In [7]:
print ("no. rows= ",df.shape[0])

no. rows=  103